body {
font-family: Arial, sans-serif;
margin: 0;
background: #f9f9f9;
color: black;
}

.dark-mode {
background: #2b2b2b;
color: #ffffff;
}

/* Header */
.header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 30px;
background: #f1f1f1;
}

/* Navigation Links */
.menu {
margin: 20px auto;
display: flex;
justify-content: center;
gap: 10px;
}

.menu a {
border: 1px solid black;
padding: 8px 15px;
cursor: pointer;
text-decoration: none;
color: black;
}

.menu a:hover {
background-color: #add8ff;
}

.header .menu a {
color: black;
border: 1px solid black;
padding: 8px 15px;
cursor: pointer;
text-decoration: none;
}

.dark-mode .header .menu a {
color: black !important;
}

/* Buttons */
.btn-primary {
background: #007bff;
color: white;
border: 1px solid black;
padding: 5px 15px;
cursor: pointer;
}

.btn-clear {
background: white;
color: black;
border: 1px solid black;
padding: 5px 15px;
cursor: pointer;
}

.dark-mode .btn-clear {
background: #333;
color: white;
border: 1px solid white;
}

.btn-read {
background: #007bff;
color: white;
padding: 5px 15px;
cursor: pointer;
display: flex;
top: 10px;
left: 250px;
}

/* Search section */
.search-section {
margin: 20px;
display: flex;
align-items: center;
gap: 10px;
}

/* Posts */
.posts {
margin: 20px;
}

.post-grid {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;
}

.post-card {
background: #f2f2f2;
padding: 20px;
border-radius: 5px;
}

.post-card h4 {
color: black;
text-align: center;
}

.post-card .meta {
color: #333333;
font-weight: 600;
}

/* Footer */
.footer {
background: #f1f1f1;
text-align: center;
padding: 15px;
font-size: 14px;
color: #333333;
font-weight: 600;
}

.footer a {
margin-left: 10px;
color: #007bff;
}
