body {
font-family: Arial, sans-serif;
margin: 0;
background: #f9f9f9;
color: black;
}

.dark-mode {
background: #2b2b2b;
color: #ffffff;
}

/* Header */
.header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 30px;
background: #f1f1f1;
}

.header nav a {
margin: 0 10px;
text-decoration: none;
background: #007bff;
color: black;
}

.header nav a.active {
background-color: #007bff;
color: white;
padding: 5px 10px;
border-radius: 4px;
}

/* Buttons */
.btn-primary {
background: #007bff;
color: white;
border: 1px solid black;
padding: 5px 15px;
cursor: pointer;
}

.btn-clear {
background: white;
color: black;
border: 1px solid black;
padding: 5px 15px;
cursor: pointer;
}

.dark-mode .btn-clear {
background: #333;
color: white;
border: 1px solid white;
}

.btn-read {
background: #007bff;
color: white;
padding: 5px 15px;
cursor: pointer;
 display: flex;
      top: 10px; /* Moves the button down by 10 pixels from its original position */
      left: 250px;
}

/* Search section */
.search-section {
margin: 20px;
display: flex;
align-items: center;
gap: 10px;
}

/* Menu */
.menu {
margin: 20px auto;
display: flex;
justify-content: center;
}

.menu span {
border: 1px solid black;
padding: 8px 15px;
cursor: pointer;
}

.menu span:hover {
background-color: #add8ff;
}
.header .menu span {
  color: black;
  border: 1px solid black;
  padding: 8px 15px;
  cursor: pointer;
}

.dark-mode .header .menu span {
  color: black !important; /* The color stays black even in dark-mode. */
}

.menu span:hover {
  background-color: #add8ff; /* light blue */
}
/* Posts */
.posts {
margin: 20px;
}

.post-grid {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;
}

.post-card {
background: #f2f2f2;
padding: 20px;
border-radius: 5px; 
}

.post-card h4 {
color: black;
text-align: center;
}

.post-card .meta {
color: #333333;
font-weight: 600;
}

/* Footer */
.footer {
background: #f1f1f1;
text-align: center;
padding: 15px;
font-size: 14px;
color: #333333;
font-weight: 600;
}

.footer a {
margin-left: 10px;
color: #007bff;
}